.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;

        &.user-exists {
          display:flex;
          flex-direction: row;
          border: 1px solid black;

          span {
            margin-top: 10px;
            margin-left: 10px;
          }

          button {
            all:unset;

          }
        }

        .user-avatar{
          // padding: 10px;
          width:40px;
          border:1px solid transparent;
          border-radius: 200px;
          margin-left: -10px;
          background-position: center;
          background-size: contain;
        }
      }
    }
  }
  